@{
    ViewData["Title"] = "Importar Datos";
}
<div class="influence-finder">
    <div class="container-fluid dashboard-content">
        @if (TempData["Correcto"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["Correcto"]
                <a class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></a>
            </div>
        }
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["Error"]
                <a class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></a>
            </div>
        }
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-primary search-btn" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <!-- .card -->
                <div class="card card-figure has-hoverable">
                    <!-- .card-figure -->
                        <div class="figure-attachment">
                            <span class="fa-stack fa-lg">
                                 <i class="fa fa-square fa-stack-2x text-primary"></i>
                                 <i class="fa fa-file-excel fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <figcaption class="figure-caption">
                            <h6 class="figure-title"> Importar en Excel </h6>
                            <p class="text-muted mb-0"> <a asp-controller="Proyecto" asp-action="F_SIG_19">F-SIG-019 Seguimiento.</a> </p>
                        </figcaption>
                    <!-- /.card-figure -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <!-- .card -->
                <div class="card card-figure has-hoverable">
                    <!-- .card-figure -->
                    <div class="figure-attachment">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x text-primary"></i>
                            <i class="fa fa-file-excel fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <figcaption class="figure-caption">
                        <h6 class="figure-title"> Importar en Excel </h6>
                        <p class="text-muted mb-0"> <a href="#">Seguimiento Cronico.</a> </p>
                    </figcaption>
                    <!-- /.card-figure -->
                </div>
                <!-- /.card -->
                
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <!-- .card -->
                            <div class="card card-figure has-hoverable">
                            <!-- .card-figure -->
                            <div class="figure-attachment">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                                    <i class="fa fa-file-excel fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <figcaption class="figure-caption">
                                <h6 class="figure-title"> Importar en Excel </h6>
                                <p class="text-muted mb-0"> <a href="#">Matriz de Vigilancia Final de Ruido.</a> </p>
                            </figcaption>
                            <!-- /.card-figure -->
                        </div>
                        <!-- /.card -->
            </div>
    </div>
</div>

