@model CambiarPasswordViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<WorketHealth.DataAccess.Models.AppUsuario> UserManager;
@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<form class="splash-container" asp-controller="Usuarios" asp-action="CambiarPassword" method="post">

    <input type="hidden" name="email" value="@UserManager.GetUserName(User)"/>

    
    <div class="card">
        <div class="card-header">
            <h3 class="mb-1">Cambiar contraseña</h3>
            <p>Por favor ingrese su nueva contraseña.</p>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input asp-for="Password" class="form-control form-control-lg" id="pass1" type="password" required="" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control form-control-lg" required="" placeholder="Confirm">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group pt-2">
                <button class="btn btn-block btn-danger" type="submit">Cambiar Contraseña</button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
