@{
    ViewData["Title"] = "Bloqueo";
    Layout = null;
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
}
<header>
    <div class="p-3 mb-2 bg-danger text-white">Cuenta de Usuario Bloqueada</div>
</header>