@model AccesoViewModel
@{
    ViewData["Title"] = "Inicio de Sección";
    Layout = null;

    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">

}


    <div class="clase-especial splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href=""><img class="logo-img" src="../assets/images/logo.png" alt="logo"></a><span class="splash-description">Por favor ingrese su información de usuario.</span></div>
            <div class="card-body">

                <form asp-controller="Home" asp-action="Login" method="post">
                    <div class="form-group">
                        <input asp-for="Email" class="form-control form-control-lg" id="username" type="text" placeholder="Nombre de usuario">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password"  class="form-control form-control-lg" id="password" type="password" placeholder="Contraseña">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RememberMe" class="custom-control custom-checkbox">
                            <input asp-for="RememberMe"  class="custom-control-input" type="checkbox">
                                <span class="custom-control-label">@Html.DisplayNameFor(m => m.RememberMe)</span>                                
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar sesión</button>
                </form>

            </div>
            @*  -- En Observacion El Boton Haz olvidado tu contraseña*@
             <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                <a class="footer-link" asp-controller="Cuentas" asp-action="Registro" >Crea una cuenta</a>
            </div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Has olvidado tu contraseña</a>
                </div>
            </div>
        </div>
    </div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}